.puzzle-area {
  margin: auto;
  width: 50%;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}

.binouze-puzzle {
  width: 1024px;
  height: 882px;
  background-image: url("../img/binouze-puzzle.png");
}

.raclette-puzzle {
  width: 1024px;
  height: 1153px;
  background-image: url("../img/raclette-puzzle.png");
}

.binouze-puzzle table {
  width: 1024px;
  height: 882px;
  position: absolute;
  background-color: none;
}

.raclette-puzzle table {
  width: 1024px;
  height: 1153px;
  position: absolute;
  background-color: none;
}

.click-event-display {
  display: block;
  margin: auto;
  padding-top: 5%;
  width: 70%;
}

#mleh-binouze {
  height: auto;
  display: inline-block;
  text-align: center;
}

.click-event-display div {
  display: block;
  text-align: center;
  font-size: 35pt;
}

#upclose-raclette {
  display: block;
  margin: 0;
  position: sticky;
  padding-left: 40%;
}

#win-container {
  display: block;
  margin: auto;
  width: 80%;
  height: 100%;
  text-align: center;
}

#congrats-message {
  text-align: justify;
  display: inline-block;
  margin: auto;
  width: 40%;
  font-size: 38pt;
}

#laying-raclette {
  display: inline-block;
  margin: 0;
  text-align: right;
  width: 40%;
}

#binouze-bennet {
  display: inline-block;
  margin: 0;
  text-align: left;
  width: 30%;
}

#group-text {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 60%;
  font-size: 22pt;
}

.text-one {
  text-align: justify;
  display: inline-block;
  width: 40%;
  margin: 0;
}

.text-two {
  text-align: justify;
  display: inline-block;
  width: 40%;
  margin: 0;
}

td {
  padding: 0;
}

td a {
  display: block;
  width: 100%;
  height: 100%;
}
